
html, body {
  text-align: center;
  background-color: #333;
  font-family: 'Dosis', sans-serif;
  color: #EEE;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 10px;
}

#container {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  border: solid black 1px;
  background-color: #FFF;
}

.pixels {
  display: inline-block;
  background-color: #000;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #EEE;
  border: none;
  border-radius: 2px;
  font-family: 'Dosis', sans-sans-serif;
}

button:hover {
  background-color: #CCC;
}

button:focus {outline:0;}
